* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Torus, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window {
    border-radius: 15px;
    background-color: #24273a;
    color: #cad3f5;
}

.music {
    background-color: #24273a;
    color: #cad3f5;
}

.container {
    padding: 12px;
    border-radius: 15px;
}

.power {
    padding: 20px 35px;
    border-radius: 15px;
}
.weather {
    padding-top: 0px;
    border-radius: 15px;
}

.pfp {
    background-image: url('/home/auri/Pictures/auri_pfp_centered.png'); border-radius: 128px;  background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.resource {
    padding: 15px;
    border-radius: 15px;
}

.music-widget {
    border-radius: 15px;
}