* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Torus, FiraMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial;
    font-size: 16px;
}

.background {
    background-color: rgba(0,0,0,0);
    color: #cad3f5;
    border-radius: 15px 15px 15px 15px; 
    /*border: #A7C080 solid 3px;*/
    /*border: 5px solid #b7bdf8;*/
}

.background2 {
    background-color: #2D353B;
    color: #cad3f5;
    border: #A7C080 solid 3px;
    padding: 2px;
    border-radius: 15px 15px 15px 15px; 
}

.cyberdeck {
    border-width: 0px 0px 2px 0px;
    border-style: inset;
    border-color: #007281;
    background: none;
}

.discord {
    background-color: #232A2E;
    color: #cad3f5;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 15px 15px; 
    border: #A7C080 solid 3px;
    /*border: 5px solid #b7bdf8;*/
}

.workspaces {
    background-color: #2D353B;
    border-radius: 0px 0px 0px 0px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
}

.time {
    background-color: #2D353B;
    border-radius: 0px 0px 0px 0px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
}

.indicators {
    background-color: #2D353B;
    border-radius: 0px 0px 0px 0px; 
    padding: 0px 8px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
}

.tab-selector {
    background-color: rgba(45, 53, 59, 0.1);
    border-radius: 15px 0px 0px 0px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 2px 0px 0px 2px;
}

.sidepanel {
    background-color: rgba(45, 53, 59, 0.1);
    border-radius: 0px 0px 0px 0px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.window-title {
    background-color: #2D353B;
    border-radius: 0px 0px 10px 0px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
}

.tray {
    background-color: #2D353B;
    border-radius: 0px 0px 0px 10px; 
    padding: 0px 5px 5px 5px;
    border-color: #A7C080;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
}

.music {
    background-color: #2D353B;
    border-radius: 0px 0px 10px 0px; 
    padding: 0px 5px 5px 5px;
}

progressbar {
    min-width: 10px;
}

.smol-text1 {
    color: #7FBBB3;
    font-size: 13px;
}

.smol-text2 {
    color: #A7C080;
    font-size: 13px;
}

.smol-text3 {
    color: #A7C080;
    font-size: 15px;
}

.smol-button {
    margin-right: 5px; margin-top: 7px; padding: 5px; min-width: 2px; min-height: 2px; 
}

button {
    background-color: rgba(0,0,0,0.1);
}



.closer {
    opacity: 0;
}

/*.music {
    background-color: #24273a;
    color: #cad3f5;
    border-radius: 15px 15px 15px 15px; 
    border: 5px solid #b7bdf8;
}*/

.container {
    padding: 10px;
    border-radius: 15px;
}

.power {
    padding: 20px 35px;
    border-radius: 15px;
}
.weather {
    padding-top: 0px;
    border-radius: 15px;
}

.resource {
    padding: 15px;
    border-radius: 15px;
}

.music-widget {
    border-radius: 15px;
    border: #A7C080 solid 3px;
}

.battery {
    padding: 5px 0px 5px 0px;
}

.next {
    padding: 15px 20px 0px 30px;
}

.clock {
    opacity: 1;
    font-size: 30px;
    padding: 0px 20px;
}